h1 { 
    font-size: 250%; 
    font-family: Tahoma, Arial, sans-serif; 
    color:DarkBlue;
    text-align:center;
   }
   h2 { 
    font-size: 200%; 
    font-family: Tahoma, Arial, sans-serif; 
    color:blue;
    text-align:center;
   }
